@use "bootstrap" as b;
@use "variables" as v;

// Add same margins between the navbar, the breadcrumb and the table.
.breadcrumb {
    margin-top: v.$breadcrumb-margin-bottom;
}

.table {
    td,
    th {
        @extend .text-nowrap;
    }

    a {
        @extend .text-reset;
    }

    .fa-folder {
        @extend .text-primary;
    }

    tbody td:nth-child(2),
    thead th:nth-child(2) {
        @extend .w-100;
    }

    tbody td:nth-child(n+3),
    thead th:nth-child(n+3) {
        @extend .text-center;
    }

    tbody td,
    tbody th {
        @extend .p-0;

        .position-relative {
            padding: b.$table-cell-padding-y b.$table-cell-padding-x;
        }
    }

    tbody td,
    tbody th {
        min-height: 1px;

        .position-relative {
            @extend .h-100;
        }
    }

    tbody td:not(:first-child) .position-relative,
    thead th:not(:first-child) {
        padding-left: 2 * b.$table-cell-padding-x;
    }

    &.sortable a.sortheader {
        display: inline-flex;
        align-items: center;
        column-gap: 0.35em;
    }

    &.sortable a.sortheader .sortarrow {
        display: flex;
        align-items: center;
        line-height: 0;
    }
}